<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>SECTIONS</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>SEARCH</span>
        </div>
			</li>

		</ul>
  </nav>

	<nav class="right-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <button>SUBSCRIBE NOW</button>
        </div>
      </li>
			<li data-controller="modal" > 
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <button>LOGIN</button>
        </div>
			</li>
      
      <li data-controller='modal'>
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
        <i class="fa-solid fa-gear"></i>
      </li>
  </nav>
  
</header>