<hr class="hr-top">
<header class="masthead">
<ul class="language-nav">
    <a href="#">CSS</a>   
    <a href="#">HTML</a>   
    <a href="#">Javascript</a>   
    <a href="#">Ruby</a>   
</ul> 
<img class= "logo" src="../assets/AA_Times_Logo.png" alt="">
<ul class="masthead-links">
    <button><li><a href="#">Tuesday, October 18, 2016</a>   
    </li></button>
    <li><a href="#">Today’s Paper</a>   
    </li>
    <li> <a href="#">Video</a>   
    </li>
    <button><li><a href="#">77°F</a>   
    </li></button>
    <a href="#">AAO </a> 
    <strong> <a href="#">+100%</a></strong>
</ul> 
</header>

